.form0 {
    position: absolute;
    width: 100%;
    top: -75px;
    left:-170px
}

.homepageContainer {
    background-color: #fff;
    padding: 8%; 
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 40%; 
    max-width: 800px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.homeh2 {
    color: black;
    position: absolute;
    top: 135px;
    left:575px;
    font-size: 30px;
    white-space: nowrap;
}
  
.hbutton1, .hbutton2, .hbutton3, .hbutton4, .hbutton5  {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 10px; 
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px; 
    height: 60px; 
    border-radius: 12px; 
    line-height: 1; 
    left: 480px;
    opacity: 0.8;
}

.hbutton1 {
    background-color: rgb(128, 191, 179, 0.4);
    top:250px;
}

.hbutton2 {
    background-color: rgb(91, 166, 154, 0.4);
    top:350px;
}
.hbutton3 {
    background-color: rgb(18, 134, 125, 0.4);
    top:450px;
}
.hbutton4 {
    background-color: rgb(10, 101, 94, 0.4);
    top:550px;
}
.hbutton5 {
    background-color: rgb(5, 63, 59, 0.4);
    top:650px;
}

