.header {
    height: 15px;
    background-color: #808080; /* Mid grey color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.header h1 {
    margin: 0;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: start;
    left: 20px;
    top: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.sprintnum {
    position: absolute;
    top:0px;
    right: 20px;
    font-size: 12px;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}
  