.header {
    background-color: #cecece;
    height: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.headerh1 {
    margin: 0;
    color: rgb(116, 116, 116);
    font-size: 17px;
    text-align: start;
}

.sprintnum {
    position: absolute;
    top:0px;
    right: 20px;
    font-size: 12px;
    font-style: italic;
    color: rgb(116, 116, 116);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}
  