.container9d {
    background-color: #fff;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 70vh;
    width: 900px;
    margin: 80px auto;
    position: relative;
    overflow-x: hidden;
}

.header9d {
    position: absolute;
    left: 400px;
}

.suggBox9 {
    width: 350px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    /* border: 1px solid rgb(200, 200, 200); */
    border: dotted 1px #878787;

}

.suggBoxes9 {
    position: relative;
    top: 100px;
    left: 240px;
}

.backButton9d {
    background-color: #c1c6c8;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10px; 
    left: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.addIssueButton {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 10px;
    border-top: 40px;
    font-weight: bold;
    color: #c1c6c8;
}

.addIssuePopup {
    visibility: hidden;
    font-style: italic;
    color: rgb(255, 0, 0)  ;
    position: absolute;
    right: 10px;
    top:-15px;
    white-space: nowrap;
}
.addIssueButton:hover .addIssuePopup {
    visibility: visible;
    opacity: 0.5;
}

.infoButton9d {
    padding: 3px 10px;
    border-radius:100%;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

.infoPopup9d {
    visibility: hidden;
    position: absolute;
    background-color: #acb5ba;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 200px;
    top: 100%;
    right: 0;
}
  
.infoButton9d:hover .infoPopup9d {
    visibility: visible;
    opacity: 0.5;
}

