.container {
    background-color: #fff;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 70vh;
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    position: relative;
    overflow-x: hidden;
}


.left,
.right {
    flex: 1;
    padding: 20px;
}

.successTitle {
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    position: absolute;
    left: -350px;
}

.challengeTitle {
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    position: absolute;
    right: -360px;
}

.successBox {
    position: relative;
    width: 350px;
    top: 50px;
    padding: 40px;
    margin: 10px 20px;
    display: flex;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    background-color: #aaffaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.challengeBox {
    position: relative;
    width: 350px; 
    top: 50px;
    padding: 40px;
    margin: 10px 30px;
    display: flex;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    background-color: #ffaaaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.successButton,
.challengeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    background-repeat: none;
    border: none;
    font-size: 20px;
}

.replyButtonS, .replyButtonC {
    padding: 3px 10px;
    border: none;
    position: absolute;
    bottom: 5px;
    right: 0px;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
}
.replyPopupS, .replyPopupC {
    visibility: hidden;
    position: absolute;
    background-color: #9fa6ab;
    color: black;
    font-style: normal;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 300px;
    top: 100%;
    right:0;
    z-index: 1;
}

.replyButtonS:hover .replyPopupS, .replyButtonC:hover .replyPopupC {
    visibility: visible;
    opacity: 0.8;
  }


.successVotes,
.challengeVotes {
    position: absolute;
    top: 30px;
    right: 18px;
    font-size: 10px;
    font-weight: bold;
}


.addButton2 {
    background-color: #c1c6c8;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 100px; 
    left: 550px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addButton:hover {
    background-color: #acb5ba; 
}

.exitButton2 {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size:20px;
    background-color: transparent;
    border:none;
    color: #c1c6c8;
}