.form4 {
    background-color: #fff;
    padding: 8%; 
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 40%; 
    max-width: 800px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

h1 {
    color: #333;
    text-align: center;
    position: absolute;
    left: 250px;

}

h2 {
    color: #717070;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.slider {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background: #d3d3d3;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.score0 {
    color: #717070;
    position: absolute;
    top: 50%; 
    left: 20%;
}

.score10 {
    color: #717070;
    position: absolute;
    top: 50%;
    right: 20%;

}

.submit4Button {
    background-color: #4caf50;
    color: white;
    padding: 10px 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20%; 
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submit4Button:hover {
    background-color: #45a049;
}

.backButton4 {
    background-color: #c1c6c8;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 12%; 
    left: 50%; 
    transform: translate(-50%, 50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.backButton4:hover {
    background-color: #acb5ba;
}

.infoButton4 {
    padding: 3px 10px;
    border-radius:100%;
    border-color: #e2e5e5;
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 15px;
    background-color: #e2e5e5;
}

.infoPopup4 {
    visibility: hidden;
    position: absolute;
    background-color: #acb5ba;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 200px;
    top: 100%;
    left: 0;
}

.infoButton4:hover .infoPopup4 {
    visibility: visible;
    opacity: 0.5;
  }

.resultsButton {
    background-color: #c1c6c8;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 5%; 
    right: -5%; 
    transform: translate(-50%, 50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resultsButton:hover {
    background-color: #acb5ba;
}

.exitButton4 {
    position: relative;
    left: -390px;
    top: -110px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #c1c6c8;
}